{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} {% endblock title %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

  {% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}

  <section class="pt-sm-7 pt-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row pt-lg-5 pt-3">
            <div class="col-lg-2 col-md-1 col-sm-0"></div>
            <div
                class="col-lg-8 col-md-10 col-sm-12 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div
                  class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">Dish List</h4>
                <div class="d-block">
                  <a type="button"
                     class="btn btn-sm btn-outline-info text-nowrap mb-0"
                     href="{% url 'kitchen:dish-create' %}">
                    Create new dish
                  </a>
                </div>
              </div>
              <form action="" method="get"
                    class="d-flex justify-content-center mt-5 mb-4">
                <div class="w-100">
                  <div class="input-group border-bottom border-primary">
                    {{ search_form.name }}
                    <button type="submit" class="btn btn-primary">
                      🔍
                    </button>
                  </div>
                </div>
              </form>
              <br>
              {% if dish_list %}
                <div class="row">
                  <div class="col-1" style="font-weight: 800">
                    No
                  </div>
                  <div class="col-5 col-lg-5" style="font-weight: 800">
                    Name
                  </div>
                  <div class="col-4 col-lg-4" style="font-weight: 800">
                    Type
                  </div>
                  <div class="col-2"
                       style="text-align: center; font-weight: 800">
                    Price, $
                  </div>
                  <hr class="horizontal dark mt-2 mb-4">
                  {% for dish in dish_list %}
                    <div class="col-1">
                      {{ page_obj.start_index|add:forloop.counter0 }}
                    </div>
                    <div class="col-5 col-lg-5">
                      <a type="button"
                         class="text-uppercase fw-bold text-primary-emphasis mb-0"
                         href="{{ dish.get_absolute_url }}">{{ dish.name }}
                      </a>
                    </div>
                    <div class="col-4 col-lg-4">
                      {{ dish.dish_type.name }}
                    </div>
                    <div class="col-2" style="text-align: center">
                      {{ dish.price }}
                    </div>
                    <hr>
                  {% endfor %}
                </div>
              {% else %}
                <p>There are no dishes.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block pagination %}

  {% include "includes/pagination.html" %}

{% endblock %}
