{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

  {% include 'includes/navigation_light.html' %}

{% endblock header %}

{% block content %}

  <section class="pt-sm-7 pb-sm-3 pt-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row pt-lg-3 pt-1">
            <div class="col-lg-2 col-md-1 col-sm-0"></div>
            <div
                class="col-lg-8 col-md-10 col-sm-12 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div
                  class="d-flex justify-content-between align-items-center  mb-2">
                <h4 class="mb-0">Dish Type List</h4>
                <div class="d-block">
                  <a type="button"
                     class="btn btn-sm btn-outline-info text-nowrap mb-0"
                     href="{% url 'kitchen:dish-type-create' %}">Create new
                    dish type
                  </a>
                </div>
              </div>
              <form action="" method="get"
                    class="d-flex justify-content-center mt-5">
                <div class="w-100">
                  <div class="input-group border-bottom border-primary">
                    {{ search_form.name }}
                    <button type="submit" class="btn btn-primary">
                      🔍
                    </button>
                  </div>
                </div>
              </form>

              <br>
              {% if dish_type_list %}
                <div class="row">
                  <div class="col-1" style="font-weight: 800">
                    No
                  </div>
                  <div class="col-3 col-md-5" style="font-weight: 800">
                    Name
                  </div>
                  <div class="col-4 col-md-3"
                       style="text-align: center; font-weight: 800">
                    Update
                  </div>
                  <div class="col-4 col-md-3"
                       style="text-align: center; font-weight: 800">
                    Delete
                  </div>
                  <div class="col-4 col-md-3"
                       style="text-align: center; font-weight: 800">
                  </div>
                  <div class="col-4 col-md-3"
                       style="text-align: center; font-weight: 800">
                  </div>
                  <hr class="horizontal dark mt-2 mb-4">
                  
                  {% for dish_type in dish_type_list %}
                    <div class="col-1">
                      {{ page_obj.start_index|add:forloop.counter0 }}
                    </div>
                    <div class="col-5">
                      <h4 class="text-uppercase fw-bold text-primary">{{ dish_type.name }}</h4>
                    </div>
                    <div class="col-4 col-md-3" style="text-align: center">
                      <a type="button"
                         class="btn btn-sm btn-outline-dark text-nowrap mb-0"
                         href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">
                        Update
                      </a>
                    </div>
                    <div class="col-4 col-md-3" style="text-align: center">
                      <a type="button"
                         class="btn btn-sm btn-outline-primary text-nowrap mb-0"
                         href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">
                        Delete
                      </a>
                    </div>
                    <section class="py-3">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-6">
                            <p class="mb-4 text-info">dishes with this type</p>
                          </div>
                        </div>
                        <div class="row">
                          {% for dish in dish_type.dishes.all %}
                            <div class="col-lg-4 col-sm-6 p-0 m-0">
                              <div class="card card-plain card-blog">
                                <div class="card-body p-0 m-0">
                                  <p>
                                    <a type="button"
                                       class="text-info font-weight-light"
                                       href="{{ dish.get_absolute_url }}">
                                      {{ dish.name }}</a>
                                  </p>
                                </div>
                              </div>
                            </div>

                          {% empty %}
                            <p>There are no dishes with this type.</p>
                          {% endfor %}
                        </div>
                      </div>
                    </section>

                    <hr class="horizontal dark mt-2 mb-4">
                  {% endfor %}
                </div>
              {% else %}
                <p>There are no dish types in this hub yet.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block pagination %}

  {% include "includes/pagination.html" %}

{% endblock %}
